@using KisiselWeb.Concrete;
@model List<About>

@{
    ViewData["Title"] = "Home Page";
}

<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-shadow-full">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-6 col-md-5">
                                    <div class="about-img">
                                        <img src="/DevFolio/assets/img/image_pf.jpeg" class="img-fluid rounded b-shadow-a" alt="">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-7">
                                    <div class="about-info">
                                        @foreach (var item in Model)
                                        {
                                        <p><span class="title-s">Ad Soyad: </span> <span>@item.Name</span></p>
                                        <p><span class="title-s">Uzmanlık: </span> <span>@item.Profile</span></p>
                                        <p><span class="title-s">Email: </span> <span>@item.Email</span></p>
                                        <p><span class="title-s">Telefon: </span> <span>@item.Phone</span></p>
                                        }
                                    </div>

                                </div>
                            </div>
                            <div class="skill-mf">
                                <p class="title-s">Beceriler</p>
                                <span>HTML</span> <span class="pull-right">75%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span>CSS3</span> <span class="pull-right">75%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span>C#</span> <span class="pull-right">60%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span>JAVASCRIPT</span> <span class="pull-right">85%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span>Microsoft SQL Server</span> <span class="pull-right">80%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-me pt-4 pt-md-0">
                                @foreach (var item in Model)
                                {
                                    <div class="title-box-2">
                                    <h5 class="title-left">
                                        @item.Title
                                    </h5>
                                    </div>

                                <p class="lead">
                                    @item.Description
                                </p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



